@namespace Planner.App.Components

<MudPaper Elevation="1" Class="mt-2 px-3">
<div class="d-flex flex-row align-center">
    <MudCheckBox @bind-Checked="@_isChecked" Color="Color.Primary" Class="flex-grow-0 flex-shrink-0 mr-2"></MudCheckBox>

    @if (_isEditMode)
        {
            <MudTextField @bind-Value="_description" Label="Outlined" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>

            <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Primary" aria-label="delete" Class="flex-grow-0 flex-shrink-0 mr-2"></MudIconButton>

            <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Success" aria-label="delete" Class="flex-grow-0 flex-shrink-0 mr-2" OnClick="() => _isEditMode = false"></MudIconButton>
        }
        else
        {
            <MudText Typo="Typo.body1" Class="flex-grow-1 flex-shrink-0 mr-2" Style="cursor:pointer" @onclick="() => _isEditMode = true">Studying Blazor with .net 6 and ASP.NET Core</MudText>

            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" Class="flex-grow-0 flex-shrink-0 mr-2"></MudIconButton>
        }
      
</div>
</MudPaper>