@page "/"

<PageTitle>Home | Planner</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



<AuthorizeView>
    <Authorized>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick='() => GoToPage("Plans")'>See Plans</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick='() => GoToPage("Login")'>Login</MudButton>
    </NotAuthorized>
</AuthorizeView>

@*<AuthorizeView>
    <Authorized>
        <h2>Welcome @context.User.FindFirst(System.Security.Claims.ClaimTypes.GivenName).Value</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Please login</h2>
    </NotAuthorized>
</AuthorizeView>*@